.gitattributes text eol=lf
*.css text eol=lf
Dockerfile* text eol=lf
*.go text eol=lf
*.js text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
frontend/dist/embed-placeholder.txt text eol=lf
